@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800');


@charset "utf-8";

body { font-family:"Lato", "Open Sans"; color:#d2d4d6; font-size:17px; line-height:25px; font-weight:400; width:768px; overflow-x:hidden } 
a:hover { text-decoration:none; color:#01c3a7 }

.wrapper { width:768px; position:fixed; top:0; left:0; height:100%; margin:0 auto; background:url(../img/wrapper-bg.jpg) no-repeat 0 0; position:relative; z-index:999; overflow:hidden }
.inside-content { top:50%; left:50%; transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); position:absolute; }
#login { width:390px; }

h2 { font-family:"Lato", "Open Sans"; color:#435155; font-size:54px; font-weight:700; }
h3 { font-family:"Lato", "Open Sans"; color:#435155; font-size:35px; font-weight:700; margin-bottom:12px; }
h4 { font-family:"Lato", "Open Sans"; color:#98a1a3; font-size:20px; font-weight:400; }
.social-wrapper h3 { position:relative; padding-bottom:32px; color:#293d50; font-family:"Open Sans";  font-weight:400; margin-bottom:25px; }
.social-wrapper h3:before { content:""; position:absolute; bottom:0; left:50%; margin-left:-55px; width:110px; height:2px; background:#eaeaea }
.m-b-30 { margin-bottom:30px; }

.loginform { padding-top:58px; }
.login-container { padding-bottom:20px; }
.loginform .form-control { border-color:#ccd6d9; border-width:2px; height:auto; font-size:20px; color:#435155; font-family:"Open Sans"; font-weight:600; font-style:italic; padding:15px 20px; line-height:35px; width:374px }
.loginform .form-control::-moz-placeholder { color: #ccd6d9; opacity: 1; }
.loginform .form-control::placeholder { color: #ccd6d9; opacity: 1; }

.loginform .form-group { position:relative }
.loginform .form-group .inputicon { position:absolute; right:-33px; top:17px; width:32px; background:#ccd6d9; height:32px; display:block; border-radius:100%; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; }
.loginform .form-group .inputicon:before { content:"\f00c"; position:absolute; top:51%; left:50%; transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); color:#FFF; font-family:"FontAwesome"; }
.loginform .form-group .inputicon.glyphicon-ok { background:#01c3a7;  }
.loginform .form-group .inputicon.glyphicon-remove { background:#F00 }
.loginform .has-feedback.has-error .form-control { border-color:#F00 }
.loginform .has-feedback.has-success .form-control { border-color:#01c3a7 }

.cstmbtn { font-family:"Open Sans", "FontAwesome"; background:#01c3a7; border-radius:50px; color:#FFF; border:none; font-weight:700; text-transform:uppercase; padding:17px 28px 17px 37px; font-size:16px; cursor:pointer; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; letter-spacing:0.6px; text-align:left; min-width:205px }
.cstmbtn .fa { margin-top:2px }
.cstmbtn2 { background:#91d402 }
.cstmbtn:focus { box-shadow:none }
.cstmbtn:hover, .cstmbtn2:hover { background:#435155 }
.cstmbtn.disabled, .cstmbtn:disabled { opacity:1 }

.social-buttons { margin-bottom:58px }
.social-buttons .custom-control { width:64px; min-height:63px; padding-left:0; margin-right:5px; display:inline-block; margin-left:5px; }
.social-buttons .custom-control-indicator, .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator { width:64px; height:63px; background:url(../img/social_ic.png) no-repeat 0 0; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -webkit-transition:all 0.3s ease;  }
.social-buttons .custom-control-input:focus ~ .custom-control-indicator { box-shadow:none }
.social-buttons .custom-control-input:active ~ .custom-control-indicator { background-color:inherit; color: #fff; }
.social-buttons .instagram .custom-control-indicator { background-position:0 0; }
.social-buttons .facebook .custom-control-indicator { background-position:-75px 0; }
.social-buttons .twitter .custom-control-indicator { background-position:-150px 0; }
.social-buttons .pinterest .custom-control-indicator { background-position:-224px 0; }

.custom-checkbox.instagram .custom-control-input:checked ~ .custom-control-indicator { background-position:0 -80px; }
.custom-checkbox.facebook .custom-control-input:checked ~ .custom-control-indicator { background-position:-75px -80px; }
.custom-checkbox.twitter .custom-control-input:checked ~ .custom-control-indicator { background-position:-150px -80px; }
.custom-checkbox.pinterest .custom-control-input:checked ~ .custom-control-indicator { background-position:-224px -80px; }

.help-text { color:#d2d4d6; font-size:17px } 
.help-text a { color:#d2d4d6; }
.help-text a:hover { color:#01c3a7 }

.question-grid { padding:0 28px }
.question-grid .col { padding-left:0; padding-right:0 }
.question-container { width:700px; }
.qustion-img .btn { background:none; padding:7px; border-radius:53px; box-shadow:none; border:none; cursor:pointer; position:relative }
.qustion-img .btn:hover, .qustion-img .btn:focus, .qustion-img .btn:active, .qustion-img .btn.active { background:none; border:none; }
.qustion-img .btn.active { background:#91d402 }
.qustion-img .btn img { border-radius:50px; }
.qustion-img .btn:before { content:""; background:#91d402; width:70px; height:70px; display:inline-block; position:absolute; border-radius:100%; left:-15px; top:-15px; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; visibility:hidden; opacity:0; }
.qustion-img .btn:after { content:"\f00c"; position:absolute; top:2px; visibility:hidden; opacity:0; font-size:33px; left:4px; color:#FFF; font-family:"FontAwesome"; }
.qustion-img .btn.active:before, .qustion-img .btn.active:after { visibility:visible; opacity:1; }

.slide-navigation { padding-top:10px; }
.slide-navigation li { width:120px; float:left }
.slide-navigation li a[class*="slide-"] { width:120px; height:120px; display:block; border-radius:200px; border:solid 7px #01c3a7; position:relative; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; }
.slide-navigation li a[class*="slide-next"]:before, .slide-navigation li a[class*="slide-prev"]:before { font-family:"FontAwesome"; content:"\f060"; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); font-size:39px; color:#01c3a7; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; }
.slide-navigation li a[class*="slide-next"]:before { content:"\f061" }
.slide-navigation li.fav-text { font-weight:700; color:#919191; width:460px; text-transform:uppercase; font-size:28px; line-height:120px; }

.slide-navigation li a.disabled { pointer-events:none; }
.slide-navigation li a.disabled:before { color:#ccd6d9; }
.slide-navigation li a.disabled { border-color:#ccd6d9; }

.help-text-dark { color:#98a1a3 }
.cstm-divider { background:#eaeaea; height:2px; padding:0; border:none; width:100px; margin:30px auto }
.sign-img { padding-top:135px; padding-bottom:156px; }

.final-answer-list { padding:27px 96px 20px }
.final-answer { margin-bottom:15px; }
.final-answer a img { display:block; border-radius:20px; max-width:100%; }
.final-answer a { display:block; padding:7px; width:164px; background:#91d402; border-radius:25px; position:relative }
.final-answer a:before { content:attr(data-title); width:38px; height:38px; background:#ff5c35; color:#FFF; font-family:"Open Sans"; font-size:18px; text-align:center; line-height:38px; position:absolute; left:-12px; top:-12px; display:block; border-radius:100%; font-weight:800; z-index:91 }
.final-answer a:after { content:"\f040"; width:auto; height:auto; background:rgba(0,0,0,0.5); color:#FFF; font-family:"FontAwesome"; font-size:33px; text-align:center; position:absolute; left:7px; top:7px; right:7px; bottom:7px; border-radius:20px; display:block; line-height:150px; z-index:9; visibility:hidden; opacity:0; }
.final-answer a:hover:after { visibility:visible; opacity:1; }

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	opacity:0
}
.pt-page-current {
    visibility: visible;
    z-index: 1;
	opacity:1
}
